/*
 *å…¬ç”¨åº•éƒ¨
 */

.st-brand {
	margin-top: 40px;
	padding: 17px 0;
	background: #f9f9f9;
}

.brand-list {
	font-size: 0;
}

.brand-list .item {
	color: #666;
	display: inline-block;
	width: 299px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-right: 1px solid #e4e4e4;
	font-size: 16px;
}

.brand-list .item.last {
	width: 300px;
	border-right: 0;
}

.brand-list .item i {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin: -3px 10px 0 0;
	background: url("../images/home-page-icon.png") no-repeat;
}

.brand-list .item .icon1 {
	background-position: 0 -269px;
}

.brand-list .item .icon2 {
	background-position: 0 -305px;
}

.brand-list .item .icon3 {
	background-position: 1px -341px;
}

.brand-list .item .icon4 {
	background-position: 0 -379px;
}

/* å¸®åŠ© */
.st-help {
	padding: 30px 0;
	background: #484848
}

.contact-us {
	float: left;
	margin: 40px 50px 0 0;
	font-size: 0;
}

.contact-us .icon {
	display: inline-block;
	width: 46px;
	height: 46px;
	vertical-align: top;
	background: url("../images/home-page-icon.png") no-repeat 0 -419px;
}

.contact-us .txt {
	color: #fff;
	display: inline-block;
	line-height: 22px;
	margin-left: 10px;
	font-size: 14px;
}

.help-lsit dl {
	float: left;
	width: 160px;
	margin-left: 10px;
}

.help-lsit dl dt,
.help-lsit dl dt a {
	color: #fff;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	font-weight: bold
}

.help-lsit dl dd a {
	display: block;
	color: #ccc;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.help-lsit dl dd a:hover {
	color: #fff;
}

.st-wechat {
	float: right;
	text-align: center;
}

.st-wechat span {
	color: #fff;
	display: block;
	line-height: 20px;
}

/* ç½‘ç«™åº•éƒ¨ */
.st-footer {
	padding: 10px 0;
	background: #3c3c3c
}

.st-foot-menu {
	padding: 10px 0;
	text-align: center;
	font-size: 0
}

.st-foot-menu a {
	color: #999;
	display: inline-block;
	height: 13px;
	line-height: 13px;
	padding: 0 10px;
	border-left: 2px solid #c1c1c1;
	font-size: 13px
}

.st-foot-menu a:hover {
	color: #fff;
}

.st-foot-menu a:first-child {
	border-left: 0
}

.st-foot-edit {
	color: #fff;
	margin-top: 10px;
	text-align: center;
}

/* å‹æƒ…é“¾æŽ¥ */
.st-link {
	background: #484848
}

.st-link-list {
	padding: 30px 0;
	border-top: 1px solid #565656
}

.st-link-list strong,
.st-link-list a {
	color: #999;
	height: 20px;
	line-height: 20px;
}

.st-link-list strong {
	float: left;
	width: 65px;
}

.st-link-list .child {
	float: left;
	width: 1135px;
}

.st-link-list a {
	float: left;
	margin: 0 30px 0 0;
}

.st-link-list a:hover {
	color: #fff;
}
