/*
 *header.css - å…¬ç”¨å¤´éƒ¨
 **/

/* é¡¶éƒ¨å¹¿å‘Šæ  */
.top-column-banner {
	height: 60px;
	overflow: hidden;
	position: relative;
	z-index: 100;
}

.top-column-banner a {
	display: block;
	width: 1920px;
	height: 60px;
	position: absolute;
	z-index: 999;
	left: 50%;
	top: 0;
	margin-left: -960px;
	text-align: center;
	overflow: hidden;
}

.top-column-banner img {
	vertical-align: middle;
}

.top-column-banner .top-closed {
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	left: 50%;
	top: 5px;
	margin-left: 605px;
	z-index: 9999;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat 0 -157px;
}

.header-top {
	height: 30px;
	border-bottom: 1px solid #eee;
	background: #fafafa;
}

.login-info {
	color: #999;
	float: left;
	width: 350px;
	height: 30px;
	line-height: 30px;
}

.login-before .lgn-link,
.login-after .user-name,
.login-after .user-out {
	color: #999;
	display: inline-block;
}

.login-before .lgn-link:hover,
.login-after a:hover {
	color: #f60;
}

.login-before .reg-link {
	color: #f60;
	display: inline-block;
	margin-left: 10px;
}

.login-after .user-name {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

.login-after .user-out {
	margin-left: 10px;
}

/* ç½‘ç«™å…¬å‘Š */
.notice-msg {
	color: #666;
	float: left;
	width: 500px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* ä¿¡æ¯ç»„ */
.top-msg-group {
	float: right;
}

.top-msg-group .nav-item {
	float: left;
	color: #999;
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	cursor: pointer;
	position: relative;
}

.top-msg-group .has-down:hover {
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	background: #fff;
}

.top-msg-group .has-down:hover:after {
	content: "";
	display: block;
	height: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 12;
	background: #fff;
}

.top-msg-group .nav-item a {
	color: #999;
}

.top-msg-group .nav-item a:hover {
	color: #f60;
}

.top-new-msg {
	display: inline-block;
	width: 15px;
	height: 10px;
	vertical-align: middle;
	margin-top: -3px;
	position: relative;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat -50px -15px;
}

.top-new-msg.unread:after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	position: absolute;
	top: -3px;
	right: -3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f00;
}

.top-arrow-icon {
	display: inline-block;
	width: 5px;
	height: 3px;
	vertical-align: middle;
	margin: -3px 0 0 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat -18px 0;
}

.top-msg-group .nav-item:hover .top-arrow-icon {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.top-phone-icon {
	display: inline-block;
	width: 11px;
	height: 16px;
	vertical-align: top;
	margin-top: 7px;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat 0 -107px;
}

.top-wechat-icon {
	display: inline-block;
	width: 17px;
	height: 14px;
	vertical-align: top;
	margin-top: 8px;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat 0 -133px;
}

/* ä¸‹æ‹‰æ¡† */
.dropdown-panel {
	display: none;
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 10;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	background: #fff;
}

.top-msg-group .has-down:hover .dropdown-panel {
	display: block;
}

/* ç½‘ç«™åœ°å›¾ */
.top-map-list {
	width: 170px;
	padding: 5px;
}

.top-map-list li {
	float: left;
	width: 50%;
}

.top-map-list>li .label {
	color: #666;
	display: block;
	padding: 0 5px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.top-map-list>li .label:hover {
	color: #f60;
}

.top-qr-code {
	width: 100px;
	padding: 10px;
}

.top-qr-code .txt {
	color: #f60;
	font-weight: bold;
}

.top-qr-code img {
	width: 100px;
	height: 100px;
	vertical-align: top;
}

/* é¡¶éƒ¨æœç´¢ */
.header-search {
	padding: 20px 0;
	position: relative;
}

.header-logo {
	float: left;
	width: 298px;
	height: 85px;
}

.header-logo>a {
	display: table-cell;
	width: 298px;
	height: 85px;
	vertical-align: middle;
}

.header-logo img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

/* æœç´¢æ  */
.search-area-bar {
	width: 556px;
	height: 36px;
	position: absolute;
	top: 50%;
	left: 390px;
	margin-top: -20px;
	border: 2px solid #2dbb55;
}

.search-term {
	float: left;
	width: 89px;
	height: 36px;
	position: relative;
	border-right: 1px solid #e5e5e5;
	background: #f2f9f4;
}

.search-term .current-item {
	color: #999;
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.search-term .arrow-icon {
	display: inline-block;
	width: 9px;
	height: 5px;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -3px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat 0 -10px;
}

.search-term:hover .arrow-icon {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.search-down-select {
	position: absolute;
	top: 36px;
	left: -2px;
	right: -1px;
	z-index: 1001;
	border: 1px solid #e5e5e5;
	background: #fff;
}

.search-down-select>li {
	color: #999;
	height: 32px;
	line-height: 32px;
	padding: 0 10px 0 12px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
}

.search-down-select>li:hover {
	background: #efefef;
}

.search-down-select>li:last-child {
	border-bottom: 0;
}

.top-search-ipt {
	width: 348px;
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	font-size: 14px;
}

.top-search-btn {
	color: #fff;
	float: right;
	width: 98px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	background: #2dbb55;
}

.top-search-tag {
	position: absolute;
	top: 7px;
	right: 98px;
	bottom: 7px;
	max-width: 140px;
	overflow: hidden;
	text-align: right;
	font-size: 0;
}

.top-search-tag .label {
	color: #999;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
	margin-right: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	background: #f0f0f0;
}

.top-search-tag .label:hover {
	color: #f80;
}

/*çƒ­æœæ¡†*/
.st-hot-dest-box {
	display: none;
	position: absolute;
	left: -2px;
	right: -2px;
	top: 38px;
	z-index: 8;
	padding: 10px;
	border-top: 0;
	-webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
	background: #fff;
}

.st-hot-dest-box .block-nr {
	display: block;
}

.st-hot-dest-box .block-nr dl {
	padding: 10px 0 0;
}

.st-hot-dest-box .block-nr dl dt {
	font-weight: bold;
}

.st-hot-dest-box .block-nr dl dd {
	padding-top: 5px;
}

.st-hot-dest-box .block-nr dl dd a {
	color: #777;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-right: 15px;
}

.st-hot-dest-box .block-nr dl dd a:hover {
	color: #f60;
}

/* è”ç³»æ–¹å¼ */
.header-contact {
	width: 225px;
	height: 56px;
	position: absolute;
	top: 50%;
	right: 0;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/contact-bar-bg.jpg") center no-repeat;
}

.header-contact .tit {
	color: #4c4c4c;
	margin: 12px 0 0 40px;
}

.header-contact .arrow-icon {
	display: inline-block;
	width: 10px;
	height: 5px;
	vertical-align: middle;
	margin: -3px 0 0 4px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat -33px 0;
}

.header-contact:hover .arrow-icon {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.header-contact .num {
	color: #f60;
	margin: 2px 0 0 40px;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial, "Microsoft YaHei", "å®‹ä½“", Helvetica, sans-serif;
}

.header-contact .more-box {
	display: none;
	width: 150px;
	padding: 5px 10px;
	position: absolute;
	left: 5px;
	top: 55px;
	text-align: center;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
	background: #fff;
}

.header-contact:hover .more-box {
	display: block;
}

.header-contact .more-box:after {
	content: '';
	display: block;
	width: 10px;
	height: 5px;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -5px;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat -53px 0;
}

.header-contact .more-box .item {
	color: #666;
	display: block;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* ä¸»å¯¼èˆª */
.header-nav {
	width: 100%;
	min-width: 1200px;
	height: 46px;
	background: #2dbb55;
}

.header-menu {
	height: 46px
}

.header-menu>ul>li {
	float: left;
	height: 46px;
	position: relative;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	/*-ms-transition: all .8s;*/
	-o-transition: all .8s;
	transition: all .8s;
}

.header-menu>ul>li .st-arrow-ico {
	float: right;
	display: block;
	width: 8px;
	height: 5px;
	margin: 22px 0 0 5px;
	background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat 0 0;
}

.header-menu>ul>li>a {
	display: block;
	color: #fff;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
	font-size: 16px;
	position: relative
}

.header-menu>ul>li.active,
.header-menu>ul>li:hover,
.header-menu>ul>li.this-hover {
	background: rgba(255, 255, 255, .3)
}

.header-menu>ul>li>img.st-nav-icon,
.header-menu>ul>li i.st-hot-ico,
.header-menu>ul>li i.st-new-ico,
.header-menu>ul>li i.st-jing-ico,
.header-menu>ul>li i.st-jian-ico {
	display: block;
	/*width: 32px;*/
	/*height: 19px;*/
	position: absolute;
	top: -10px;
	right: 0;
	/* background: url("https://www.lvye.cn/usertpl/ll_tk11257_pc_no296_header/images/home-page-icon.png") no-repeat*/
}

.header-menu>ul>li>img.st-nav-icon {
	background-position: 0 -177px;
}

.header-menu>ul>li>i.st-new-ico {
	background-position: 0 -219px
}

.header-menu>ul>li>i.st-jing-ico {
	background-position: 0 -198px
}

.header-menu>ul>li>i.st-jian-ico {
	background-position: 0 -240px
}

.down-nav {
	display: none;
	min-width: 1200px;
	height: 44px;
	position: absolute;
	left: 0;
	top: 46px;
	z-index: 99999;
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
}

.this-hover .down-nav {
	display: block;
}

.sub-list {
	height: 44px;
	line-height: 44px;
	position: absolute;
	top: 0;
	overflow: hidden;
	font-size: 0;
}

.sub-list a {
	padding: 0 10px;
	font-size: 14px;
	white-space: nowrap;
}

.sub-list a:hover {
	color: #f80;
}
